body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
    
  background: rgb(125,136,192);
  background: radial-gradient(circle, rgba(125,136,192,1) 19%, rgba(242,70,252,0.797418332567402) 60%, rgba(0,0,0,0.8618441028755253) 97%);
}

input {
  min-height: 32px;
  max-width: 200px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 2px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: black;
}

.search-btn {
  min-height: 30px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.search-btn:hover {
  background-color: #3898EC;
}

input:focus, input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

.load-more {
  margin: auto;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.center {
    display: flex;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}