body {
    // background: rgb(103,103,103);
// background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(0,0,0,1) 60%);
background-color: #000000b6;
padding-left: 8px;
}

.search-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
  z-index: 2;
    
  background: rgb(125,136,192);
  background: radial-gradient(circle, rgba(125,136,192,1) 19%, rgba(242,70,252,0.797418332567402) 60%, rgba(0,0,0,0.8618441028755253) 97%);
}

input {
  min-height: 32px;
  max-width: 200px;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.672);
  font-size: 15px;
  border: 2px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: black;
}

.search-btn {
  min-height: 30px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: rgba(255, 255, 255, 0.672);
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.search-btn:hover {
  background-color: #3898EC;
}

input:focus, input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

.load-more {
  margin: auto;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.center {
    display: flex;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.gallery {
  margin-top: 50px;
  padding: 5px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.photo-card {
  width: 280px;
  height: 350px;
  border-radius: 15px;
  padding: 7px;
  overflow: hidden;
  background: rgb(40,40,55);
 background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
 box-shadow: 4px 6px 14px #00000036;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
  0 0  0 2px rgb(190, 190, 190),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
  color: rgba(255, 255, 255, 0.672);
  border: 2px solid #07ff07;
}

.photo-card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  height: 80px;
}

.wrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 15px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}