<article class="example" id="uk">

  
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-btn" type="submit">Search</button>
  </form>

  <div class="gallery">
    <!-- Карточки изображений -->
  </div>

  <div class="center">
    <button type="button" class="load-more btn-2" hidden >Load more</button>
  </div>
  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

  <div class="background"></div>
</article>
